/* latin */
@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Work Sans"), local("WorkSans-Regular"),
    url(https://fonts.gstatic.com/s/worksans/v3/QGYsz_wNahGAdqQ43Rh_fKDp.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* UNIVERSAL */

body {
  font-size: 16px;
  font-family: "Work Sans", Arial, sans-serif;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

.container-fluid {
  background-color: rgb(35, 2, 63);
  padding-top: 2%;
  padding-bottom: 2%;
}

.logo {
  font-family: "Righteous";
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
}

a:hover {
  text-decoration: none;
}

.form-control {
  border-radius: 0.75rem;
}

.btn {
  background-color: rgb(255, 102, 204);
  border-radius: 0.75rem;
  color: white;
  border: none;
  width: 75px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.btn:hover {
  color: white;
  background-color: rgb(255, 0, 171);
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  background-color: rgb(255, 0, 171);
  border-color: rgb(255, 0, 171);
}

/* PLAYLIST */

.row.playlist {
  background-color: rgb(104, 0, 255);
  border-bottom: 1px solid grey;
  padding: 1% 2%;
  font-family: "Work Sans";
}

.playlist-title {
  color: rgb(255, 255, 255);
}

/* RESULTS */

.row.songs {
  background-color: white;
  border-bottom: 1px solid lightgrey;
}

.row.songs:hover {
  background-color: lightgrey;
}

.songs-title {
  padding-top: 1%;
  color: grey;
  font-family: "Work Sans";
}

#song-image {
  padding-top: 1%;
  padding-bottom: 1%;
}

.play-icon {
  padding-top: 1%;
  color: rgb(255, 0, 171);
}
